dic.dtd

<!ELEMENT dic (entry+)>
  <!ELEMENT entry (orth, gramgrp, def, translate)>
    <!ELEMENT orth (#PCDATA)>
    <!ELEMENT gramgrp (gram+)>
      <!ELEMENT gram (#PCDATA)>
      <!ATTLIST gram type CDATA #REQUIRED>
    <!ELEMENT def (#PCDATA)>
    <!ELEMENT translate (forlang, forword)*>
      <!ELEMENT forlang (#PCDATA)>
      <!ELEMENT forword (#PCDATA)>
